@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-clr: #357cb4;
    --bg1-clr: #282c34;
    --bg2-clr: #3f4653;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/* navbar started */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.25em;
    padding: 15px 100px;
    background-color: var(--main-clr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}


.logo {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    position: relative;
    left: -2%;
}



.navbar a {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: right;
    transition: transform .3s;
}

.navbar a:hover::before {
    transform-origin: left;
    transform: scale(1);
}

/* navbar ended  */

/* main start  */

.main {
    position: relative;
    top: 4.25em;
    width: 100%;
    height: 90.75vh;
    background: var(--bg1-clr);
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    width: 50%;
    /* height: 80%; */
    font-size: 1.2em;
    border-radius: 10px;
    background: var(--bg2-clr);
    box-shadow: 0 0 20px #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    position: relative;
    font-size: 1.5em;
    margin-top: .5em;
}

.form-heading::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

form {
    position: relative;
    height: 100%;
    width: 95%;
    padding: 1em 1em;
}

div {
    margin-top: 1em;
}

option {
    background: var(--bg1-clr);
}

input:focus,
textarea:focus {
    border: none;
    outline: 2px solid var(--main-clr);
    box-shadow: 0 0 15px 5px var(--main-clr);
}

#category {
    position: absolute;
    left: 25%;
    padding: 5px;
    background: var(--bg1-clr);
    border-radius: 5px;
}

#level {
    position: absolute;
    left: 25%;
    padding: 5px;
    background: var(--bg1-clr);
    border-radius: 5px;
}

.qsn-div {
    width: 100%;
    height: 5em;
}

#qsn {
    position: absolute;
    left: 25%;
    padding: 5px;
    background: var(--bg1-clr);
    border-radius: 5px;

    width: 70%;
    font-size: .8em;
    height: inherit;
    resize: none;
    line-height: 1.5;
}

.opt {
    position: absolute;
    left: 25%;
    width: 50%;
    padding: 5px;
    margin-top: 1em;
    background: var(--bg1-clr);
    border-radius: 5px;
}

#ans {
    position: absolute;
    left: 25%;
    padding: 5px;
    margin-top: 1em;
    background: var(--bg1-clr);
    border-radius: 5px;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-btn {
    position: relative;
    font-size: 1em;
    padding: .2em 1em;
    background: transparent;
    border: 2px solid var(--main-clr);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

#submit-btn::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--main-clr);
    transform: translateX(-100%);
    transform-origin: left;
    transition: transform .3s ease;
    z-index: -1;
}

#submit-btn:hover::before {
    transform-origin: right;
    transform: translateX(0);
}

.notification {
    position: absolute;
    top: 2em;
    right: 1.1em;
    transform: scale(0);
    transform-origin: right;
    display: inline;
    color: #fff;
    border-radius: 10px 0 10px 10px;
    padding: .5em 1em;
    transform-origin: top right;
    transition: transform .3s ease-in-out;
    background: var(--notification-bg);
    z-index: 1;
}

.notification::after {
    position: absolute;
    content: '';
    top: 0;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-left: 30px solid var(--notification-bg);
    border-bottom: 30px solid transparent;
    z-index: -1;
}

.active {
    transform: scale(1);
}

.bg_red {
    background: var(--notification-bg);
}

.bg_green {
    background: var(--notification-bg);
}

.bg_blue {
    background: var(--notification-bg);
}

.close {
    margin-left: 1em;
}