:root {
    --main-clr: #357cb4;
    --bg1-clr: #282c34;
    --bg2-clr: #373c47;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
}

input {
    width: 100%;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid var(--main-clr);
    font-size: 1em;
    padding: .5em;
}

input:focus {
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px var(--main-clr);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 45%; */
    background: var(--bg2-clr);
    /* border: 2px solid var(--main-clr); */
    box-shadow: 5px 5px 15px 5px #000;
    border-radius: 10px;
}

.heading {
    margin: 1em 1em 0 1em;
    color: #fff;
    border-bottom: 2px solid #fff;
}

form {
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.input-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.input-field {
    width: 100%;
    padding: .5em 1em;
}

.textarea-field {
    padding: 1em;
}



input:focus {
    border: none;
}

textarea {
    color: #fff;
    background: var(--bg2-clr);
    border: 2px solid var(--main-clr);
    border-radius: 10px;
    width: 41em;
    padding: 1em;
}

textarea:focus {
    outline: none;
    border: none;
    box-shadow: 2px 2px 15px 3px var(--main-clr);
}

.submit-btn {
    position: relative;
    top: -.5em;
    cursor: pointer;
    color: #fff;
    background: transparent;
    font-size: 1.2em;
    padding: .3em 1.2em;
    border: 2px solid var(--main-clr);
    border-radius: 50px;
    z-index: 1;
    overflow: hidden;
}

.submit-btn::before {
    position: absolute;
    top: -5%;
    left: -5%;
    content: '';
    width: 110%;
    height: 110%;
    background: var(--main-clr);
    border-radius: 50px;
    z-index: -1;
    transform: scale(0);
    transform-origin: top;
    transition: transform .3s ease-in-out;
}

.submit-btn:hover::before {
    transform: scale(1);
}