:root {
    --main-clr: #357cb4;
    --bg1-clr: #282c34;
    --bg2-clr: #3f4653;
}

* {
    color: #fff;
}

.report-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

    width: 70%;
    height: 80%;
    background: var(--bg2-clr);
    border-radius: 10px;
    box-shadow: 2px 2px 25px #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-heading {
    position: relative;
    margin: 1em 0;
    /* padding: 1em; */
}

.report-heading::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #fff;

}

.graph {
    position: relative;
    top: 2em;
    width: 70%;
    padding: 1em;
    margin: 1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.report-section {
    position: relative;
    right: -2em;
    font-size: 1.5em;
    /* background: #000; */
    width: 50%;
}

.report-section p {
    padding: .2em .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report-section p .icon {
    font-size: 1.5em;
    font-weight: 700;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.report-section .count {
    position: relative;
    right: 0;
}

.end-msg {
    font-size: 1.5em;
    position: relative;
    top: 2.5em;
    font-style: italic;
}